@{
    ViewData["Title"] = "Razor";
}
<div class="text-center">
    <h1 class="display-4"><i class="bi bi-at display-5"></i> Розмітковий синтаксис Razor</h1>
</div>
<p>
    Розміткові засоби у багатьох мовах програмування (серверного призначення) 
    покликані доповнити можливості HTML:
</p>
<ul>
    
    <li>Вирази – інструкції, що мають результат</li>    
    <li>Змінні чи константи</li>
    <li>Умовна верстка - блоки, наявність яких регулюється умовами</li>
    <li>Циклічна верстка - блоки, що повторюються (верстка масивів/колекцій)</li>
</ul> 
<p>
    Основу синтаксиса становить спец. символ <code>&commat;</code>, відповідно 
    сам символ має обмежене вживання в cshtml-файлах, зокрема, у E-mail: user@i.ua 
    В інших випадках необхідно вживати html-сутність <code>&amp;commat;</code>
</p>
<h2>Вирази</h2>
<p>
    Вирази  у Razor задаються конструкцією <code>&commat;()</code>. Вираз обчислюється
    та його результат підставляєтьься у HTML у тому місці, де поміщено вираз:
    <code>&commat;(2 + 3) = @(2 + 3)</code>. Вираз може містити усі інтрументи
    мови програмування (C#): <code>&commat;(Math.Sqrt(2)) = @(Math.Sqrt(2))</code>.
    Виразе НЕ повинні містити ";", можна вважати, що <code>&commat;()</code> є 
    функцією, до дужок якої передається аргумент для виведення
</p>
<h2>Змінні</h2>
<p>
    Інструкції у Razor задаються конструкцією <code>&commat;{}</code>. Візуального
    ефекту інструкції не мають, лише програмні директиви.
    @{
        int x = 10;
        String str = "Hello";
    }
</p>
<pre>
    &commat;{
        int x = 10;
        String str = "Hello";
    }
</pre>
<p>
    Змінні, введені у блоці інструкцій є видимими у всьому файлі, у т.ч. в інших блоках.
    Для змінних є скорочена форма виведення: <code>&commat;x = @x</code>, та повна
    <code>&commat;(str) = @(str)</code>. Зі скороченною формою слід бути обережними,
    оскільки вираз діє тільки на перший аргумент: <code>&commat;x+10 = @x+10</code>,
    <code>&commat;(x+10) = @(x+10)</code>. У той же час скорочена форма дозволяє
    індексування, доступ до полів тощо <code>&commat;x.ToString() = @x.ToString()</code>,
    за потреби обмежити вираз слід вживати (): 
    <code>&commat;(x).ToString() = @(x).ToString()</code>.
    <code>&comat;str[1] = @str[1]</code>. Вільний синтаксис (з відокремлення методів)
    працює тільки в (): <code>&commat;x .ToString() = @x .ToString()</code>
    <code>&commat;(x .ToString()) = @(x .ToString())</code>
</p>
<h2>Умовна верстка</h2>
<p>
    Основу умов складає оператор <code>&commat;if</code>. Існують як скорочена, так і
    повна форма оператора.
</p>
<pre>
&commat;if (str.Length < 10)
{
    &lt;i>Довжина str менша за 10&lt;/i>
}
</pre>
@if (str.Length < 10)
{
    <i>Довжина str менша за 10</i>
}
<p>
    Razor автоматично визначає тип інструкції - код чи розмітка. Ознакою розмітки є
    теги., інашке інструкція вважається за код
</p>
@if (str.Length < 10)
{
    x += 1;
    <i>Довжина str менша за 10</i>
}
<pre>
&commat;if (str.Length < 10)
{
    x +=1; -- це буде кодом
    &lt;i>Довжина str менша за 10&lt;/i> -- це буде розміткою
}
</pre>
@if (str.Length < 5)
{
    x += 1;
    <i>Довжина str менша за 5</i>
}
else
{
    x -= 1;
    <i>Довжина str не менша за 5</i>
}
<pre>
&commat;if (str.Length < 5)
{
    x += 1; -- це буде кодом
    &lt;i>Довжина str менша за 5&lt;/i> -- це буде розміткою
}
else
{
    x -= 1;
    &lt;i>Довжина str не менша за 5&lt;/i>
}
</pre>

<h2>Цикли</h2>
<p>
    Razor має всі циклові оператори, реалізовані у модифікації з &commat;:
    <code>&commat;do { } while(...); &commat;for (int i = 0; ...) { } &commat;foreach(...) { } &commat;while (...) { }</code>
</p>
<pre>
&commat;for (int i = 0; i < 10; i += 1)
{
&lt;i>&commat;i&amp;emsp;&lt;/i>
}
</pre>
@for (int i = 0; i < 10; i += 1)
{
    <i>@i&emsp;</i>
}
@{
    String[] arr = ["str1", "str2", "str3"];
}
<p>
    Цикли найчастіше вживаються для роботи з масивами/колекціями для формування
    селкдаених тегів на кшталт UL:
</p>
<pre>
&lt;ul>
&commat;foreach (String s in arr)
{
    &lt;li>&commat;s&lt;/li>
}
&lt;/ul>
</pre>
<ul>
@foreach (String s in arr)
{
    <li>@s</li>
}
</ul>