@using System.Security.Claims
@using asp_all.Data.Entities
@{
    bool isAuth = Context.User.Identity?.IsAuthenticated ?? false;
    String? userAvatar = isAuth ? Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Thumbprint)?.Value : null;
    String? userName = isAuth ? Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value : null;

    String cartQuantity = "0", cartPrice = "0";
    if (Context.Items.TryGetValue("ActiveCart", out var cart))
    {
        if (cart is Cart _cart)
        {
            cartQuantity = _cart.CartItems.Sum(ci => ci.Quantity).ToString();
            cartPrice = _cart.Price.ToString();
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - asp_all</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp-all.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">asp_all</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 header-icon">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-backpack"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-activity"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pricing"><i class="bi bi-apple"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Razor"><i class="bi bi-at"></i></a>
                        </li>
                        <li class="nav-item" title="Моделі в ASP">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Models"><i class="bi bi-grid"></i></a>
                        </li>
                        <li class="nav-item" title="Робота з залежностями: IoC, DI, DIP">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IoC"><i class="bi bi-box-arrow-in-down-right"></i></a>
                        </li>
                        <li class="nav-item" title="Робота з Middleware">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Middleware"><i class="bi bi-hdd-rack bi-rot-90"></i></a>
                        </li>
                        <li class="nav-item" title="Forms">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Forms"><i class="bi bi-card-checklist"></i></a>
                        </li>
                        <li class="nav-item" title="Обчислювач Derived Key">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DerivedKey"><i class="bi bi-calculator-fill"></i></a>
                        </li>
                        <li class="nav-item" title="Крамниця">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index"><i class="bi bi-bag-check"></i></a>
                        </li>
                        <li class="nav-item" title="CORS">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cors"><i class="bi bi-arrow-left-right"></i></a>
                        </li>
                        <li class="nav-item" title="Автентифікація та авторизація">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index"><i class="bi bi-box-arrow-in-right"></i></a>
                        </li>
                    </ul>
                    @if (isAuth)
                        {
                            <div class="d-flex gap-2">

                            <a asp-controller="Shop" asp-action="Cart"
                                   title="Ваш кошик: @(cartQuantity) товарів на @(cartPrice) грн"
                                   class="btn btn-outline-secondary cart-widget">
                                <i class="bi bi-cart2"></i>
                                <span>@(cartQuantity)</span>
                            </a>
                            <a asp-controller="User"
                                   asp-action="Profile"
                                   title="Кабінет користувача"
                                   class="btn @(String.IsNullOrEmpty(userAvatar) ? "btn-outline-secondary" : "btn-outline-primary") d-flex align-items-center gap-2">
                                @if (String.IsNullOrEmpty(userAvatar))
                                {
                                    <span class="fw-bold">
                                        @(((userName ?? "").Length > 0) ? userName![0] : 'P')
                                    </span>
                                }
                                else
                                {
                                    <img src="/Storage/Item/@userAvatar"
                                         alt="Ava"
                                         style="width: 28px; height: 28px; object-fit: cover; border-radius: 50%;" />
                                }
                            </a>
                            <button type="button"
                                    class="btn btn-outline-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#logoutModal">
                                <i class="bi bi-box-arrow-right"></i>
                            </button>
                            </div>
                        }
                        else
                        {
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#authModal">
                                <i class="bi bi-box-arrow-in-right"></i>
                            </button>
                            <a asp-controller="User" asp-action="SignUp" title="Реєстрація нового користувача" class="btn btn-outline-secondary"><i class="bi bi-person-add"></i></a>
                        </div>
                        }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="authModalLabel">Автентифікація</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="auth-form">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="user-login-addon">
                                <i class="bi bi-key"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   name="user-login"
                                   placeholder="Login"
                                   aria-label="Login"
                                   aria-describedby="user-login-addon">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="user-password-addon">
                                <i class="bi bi-lock"></i>
                            </span>
                            <input type="password"
                                   class="form-control"
                                   name="user-password"
                                   placeholder="Password"
                                   aria-label="Password"
                                   aria-describedby="user-password-addon">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <div id="auth-error" class="alert alert-danger d-none" role="alert"></div>
                    <div class="ms-auto d-flex gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                        <button form="auth-form" type="submit" class="btn btn-primary">Вхід</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Вихід з системи</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    Ви виходите з системи.<br />
                    Підтверджуєте?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Ні</button>
                    <a href="?logout" class="btn btn-danger">Так</a>
                </div>

            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - asp_all - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
